@font-face {
    font-family:'NanumGothic';
    src: url('font/NanumGothic.eot');
    src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
            url('font/NanumGothic.woff') format('woff'),
            url('font/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

body {
  background: wheat;
  font-size: 11;
  font-weight: bold;
  line-height:200%;
  font-family:'NanumGothic';
}

#main-date{}
#main-title{font-size:12pt;}
#main-content{}
.main-content-title{color:#709ECC;}

#terminal{
  width:90%;
  height: 90%;
  position: absolute;
  overflow: hidden;
  background: #2c2c2c;
  color: #47804d;
  margin-left: 4%;
  margin-top: 20px;
}

#dos{
  width:106%;
  height: 90%;
  color:#e7e7e7;
  overflow-y: scroll;
  background: #2c2c2c;    
}
#dos-title{ width: 30%; }

#send{
  border : 0px;
  background-color:transparent;
  color: #e3e3e3;
  font-size:12pt;
  font-weight: bold;
  width: 40%;
}
.hintStyle{
  color: #c2bc97;
  font-size:9pt;
  line-height:100%;
}