@font-face {
    font-family:'NanumGothic';
    src: url('font/NanumGothic.eot');
    src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
            url('font/NanumGothic.woff') format('woff'),
            url('font/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

/***
* body
****/
body {
  background: wheat;
  font-size: 11;
  font-weight: bold;
  font-family:'NanumGothic';
}

/***
* terminal
****/
#terminal{
  width:90%;
  height: 90%;
  position: absolute;
  overflow: hidden;
  background: #2c2c2c;
  color: #47804d;
  margin-left: 4%;
  margin-top: 20px;
  line-height:100%;
}

/***
* terminal-send
****/
#terminal-title{ width: 30%;}
.terminal-hint{ color: #c2bc97; font-size:9pt;}
#terminal-send{
  border : 0px;
  background-color:transparent;
  color: #e3e3e3;
  font-size:12pt;
  font-weight: bold;
  width: 40%;
}

/***
* dos
****/
#dos-date{}
#dos-content{}
#dos-text{width:90%; margin-left: 3%;}
#dos-title{font-size:12pt; line-height:300%;}
.dos-content-title{color:#709ECC;}
#dos{
  width:107%;
  height: 90%;
  color:#e7e7e7;
  overflow-y: scroll;
  background: #2c2c2c;
  line-height:200%;
}