@font-face {
    font-family:'NanumGothic';
    src: url('font/NanumGothic.eot');
    src: url('font/NanumGothic.eot?#iefix') format('embedded-opentype'),
            url('font/NanumGothic.woff') format('woff'),
            url('font/NanumGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

/***
* body
****/
body {
  /* background:#000; */
  background: url('../images/back_1.jpg') no-repeat fixed 0 0 / cover;
  font-size: 11;
  font-weight: bold;
  font-family:'NanumGothic';
}

/***
* terminal
****/
#terminal{
  width:90%;
  height: 90%;
  position: absolute;
  overflow: hidden;
  color: #47804d;
  margin-left: 4%;
  margin-top: 20px;
  line-height:100%;
  background-color: rgba(0,0,0,.6);
}

/***
* terminal-send
****/
#terminal-title{ width: 30%;}
.terminal-hint{ color: #c2bc97; font-size:9pt;}
#terminal-send{
  border : 0px;
  background-color:transparent;
  color: #e3e3e3;
  font-size:12pt;
  font-weight: bold;
  width: 40%;
  outline: none;
}

/***
* dos
****/
#dos-text{width:90%; margin-left: 3%;}
#dos-title{font-size:12pt;}
.dos-content-title{color:#709ECC;}
#dos{
  width:107%;
  height: 90%;
  color:#e7e7e7;
  overflow-y: scroll;
  line-height:200%;
}

.item{
  position:fixed;
  width: 70%;
  height:5rem;
  background-color: rgba(192, 192, 192, 0.7);
  left: 15%;
  bottom:-7px;
  border-radius: 10px;
}
.item img{
  width:40px;
  height:40px;
  margin-left:5%;
  margin-top:2px;
  cursor:pointer;
}

a{
  color:#fff;
}