<div id="terminal" ng-click="sendClick()">
  <div id="dos">
    <div id="dos-text">
      <div ng-show="viewNotice">
        <div template type="notice"></div>
      </div>
      <div ng-show="viewDairy">
        <div template type="dairy"></div>
      </div>
    </div>
  </div>
  <span id="terminal-send-title">
    <span ng-style="bg_shell">{{shell}}</span>
    <span ng-style="bg_cmd">{{cmd}}</span>
  </span>	
  <input id="terminal-send" type="text" ng-model="send" ng-keydown="$event.which === 13 && action(send)" autofocus>
  <br>
  <span class="terminal-hint" ng-repeat="x in hint">{{x}}&nbsp</span>
  <span class="terminal-hint">{{readHint}}</span>
  
  <div class="item">
    <a href="https://github.com/u4bi" target="_blank"><img src="images/mac/mac1.png"></a>
    <a href="https://u4bi.github.io" target="_blank"><img src="images/mac/mac2.png"></a>
    <a href="https://www.facebook.com/ymjcode" target="_blank"><img src="images/mac/mac3.png"></a>
    <a href="http://u4bi.com" target="_blank"><img src="images/mac/mac4.png"></a>
  </div>
</div>
