<div id="terminal">
  <div id="dos">
    <div ng-show="viewNotice">
      <div template type="notice"></div>
    </div>	
    <div ng-show="viewDairy">
      <div template type="dairy"></div>
    </div>
  </div>
  <span id="dos-title">
    <span ng-style="bg_shell">{{shell}}</span>
    <span ng-style="bg_cmd">{{cmd}}</span>
  </span>	
  <input id="send" type="text" ng-model="send" ng-keydown="$event.which === 13 && action(send)" autofocus>
  <br>
  <span class="hintStyle" ng-repeat="x in hint">{{x}}</span>
  <span class="hintStyle">{{readHint}}</span>
</div>