<span class="dos-content-title" id="dos-title">제 {{readDay}}장 : {{day.title}}<br></span>
<span >{{day.content}}<br></span>
<span >{{day.year}}년 {{day.month}}월 {{day.day}}일 {{day.hour}}시 {{day.min}}분 작성<br></span>
<br>
<span class="dos-content-title"> * Today I Learned (TIL)<br></span>
<span ng-repeat="x in day.til"><a ng-href="{{x[1]}}" target="_blank">{{x[0]}}</a><br></span>
<br>
<span class="dos-content-title"> * 오늘 하루 좋았던점</span><br><span> {{day.nice}}<br></span>
<span class="dos-content-title"> * 오늘 하루 안좋은점</span><br><span> {{day.bad}}<br></span>
<span class="dos-content-title"> * 오늘 하루 개선할점</span><br><span> {{day.imp}}<br></span>